[submodule "3rdparty/virglrenderer"]
	path = 3rdparty/virglrenderer
	url = https://github.com/fredldotme/virglrenderer.git
[submodule "3rdparty/qemu"]
	path = 3rdparty/qemu
	url = https://github.com/fredldotme/qemu.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/libepoxy"]
	path = 3rdparty/libepoxy
	url = https://github.com/fredldotme/libepoxy.git
[submodule "3rdparty/gtk"]
	path = 3rdparty/gtk
	url = https://github.com/fredldotme/gtk3.git
[submodule "3rdparty/glib"]
	path = 3rdparty/glib
	url = https://gitlab.gnome.org/GNOME/glib.git
[submodule "3rdparty/wayland-protocols"]
	path = 3rdparty/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "3rdparty/qmltermwidget"]
	path = 3rdparty/qmltermwidget
	url = https://github.com/Swordfish90/qmltermwidget.git
