[submodule "3rdparty/virglrenderer"]
	path = 3rdparty/virglrenderer
	url = git://anongit.freedesktop.org/virglrenderer
[submodule "3rdparty/qemu"]
	path = 3rdparty/qemu
	url = https://github.com/fredldotme/qemu.git
[submodule "3rdparty/SDL"]
	path = 3rdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "3rdparty/spice"]
	path = 3rdparty/spice
	url = https://github.com/freedesktop/spice.git
[submodule "3rdparty/spice-protocol"]
	path = 3rdparty/spice-protocol
	url = https://github.com/freedesktop/spice-protocol.git
[submodule "3rdparty/spice-server"]
	path = 3rdparty/spice-server
	url = https://gitlab.freedesktop.org/spice/spice.git
