[submodule "3rdparty/virglrenderer"]
	path = 3rdparty/virglrenderer
	url = https://github.com/fredldotme/virglrenderer.git
[submodule "3rdparty/qemu"]
	path = 3rdparty/qemu
	url = https://github.com/fredldotme/qemu.git
[submodule "qmlterm"]
	path = 3rdparty/qmltermwidget
	url = https://github.com/fredldotme/qmltermwidget.git
